/*Google font import - poppins */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #000000;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .services-box {
  margin-top: 20px;
}
.services-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.form :where(.services-option, .services) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .services {
  column-gap: 5px;
}
.services input {
  accent-color: #fbff06;
}
.form :where(.services input, .services label) {
  cursor: pointer;
}
.services label {
  color: #707070;
}
.information :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #fbff06;
}
.form button:hover {
  background: #fbff06;
}

.result{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-1{
  width: 200px;
  padding: 13px 35px;
  background: linear-gradient(
      90deg,
      rgb(227, 245, 67),
      rgb(214, 67, 22)
  );
  color: #fff;
  font-size: 20px;
  border-radius: 7px;
  text-align: center;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.services-option, .services) {
    row-gap: 15px;
  }
}
